$background-color: (
  'warn': #fff,
  'raised': map-get($gapps-color, 'warn')
);

$txt-color: (
  'warn': map-get($gapps-color, 'warn'),
  'raised': #fff
);

@mixin box-shadow($color, $dark, $desaturate) {
  box-shadow: 0 2px 0 desaturate(darken($color, $dark), $desaturate);
}

@mixin background-color($color, $dark, $desaturate) {
  background-color: desaturate(darken($color, $dark), $desaturate);
}

.g-button {
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  height: 36px;
  transition: box-shadow 0.4s map-get($transition, 'button'), transform 0.4s map-get($transition, 'button'), background-color 0.4s map-get($transition, 'button');
//  &:hover {
//    transform: translate(0, -3px);
//  }
  &:not(.g-icon-button) {
    padding: 0 16px;
  }
  &:active {
    box-shadow: none !important;
    transform: translate(0, 2px);
  }
  &:focus {
    outline: none;
  }
  @each $key, $value in $background-color {
    &.g-#{$key} {
      color: map-get($txt-color, $key);
      background-color: $value;
      @include box-shadow($value, 20%, 40%);
      &:hover {
        @include background-color($value, 10%, 16%);
        @include box-shadow($value, 30%, 60%);
      }
      &:active {
        @include background-color($value, 8%, 20%);
      }
    }
  }
  &[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
