.login {
  flex: 1 1 auto;
  @include fill-parent;
  background-color: map-get($gapps-color, 'bg-dark');
  @include flex-center;
  &__modal {
    background-color: map-get($gapps-color, 'bg-light');
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    &__name {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 16px;
    }
    &__text {
      color: rgba(0,0,0,0.5);
    }
  }
}
