// bower:scss
// endbower

// Variables
@import "variables";
@import "signinButton";
@import "fileList";
@import "button";
@import "sidenav";
@import "login";
@import "percentChart";

body, html, a, button {
  @include fontface;
  color: map-get($txt-color, 'dark');
}

body, html, md-content {
  margin: 0;
  padding: 0;
  background-color: map-get($gapps-color, 'bg-light');
}

a, button {
  cursor: pointer;
}

.material-icons {
  vertical-align: middle;
}

.main-content {
  width: 80%;
  margin: 30px auto;
  .about {
    flex: 1 1 40%;
    max-width: 40%;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
