// bower:scss
// endbower

// Variables
$gapps-color: (
  'bg-light': #EEEEEE,
);
$transition: (
  'button': cubic-bezier(.25,.8,.25,1)
);

@import "signinButton";
@import "fileList";

body, html {
  padding: 0;
  background-color: map-get($gapps-color, 'bg-light');
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
